<div class="p-2">
  <div class="w-full bg-gray-100 rounded shadow-lg p-1">

    <%= form_for @business_asset do |f| %>
      <% if @business_asset.errors.any? %>
        <div><%= @business_asset.errors.full_messages %></div>
      <% end %>
      <div class="flex px-3">
        <div class="w-1/2 px-2 py-2">
          <div class="text-sm pl-1">Asset Code</div>
          <%= f.text_field :asset_code, class: "form-field" %>
        </div>
        <div class="w-1/2 px-2 py-2">
          <div class="text-sm pl-1">Name</div>
          <%= f.text_field :name, class: "form-field" %>
        </div>
      </div>
      <div class="flex px-3">
        <div class="w-1/2 px-2 p-2">
          <div class="text-sm pl-1">Cost</div>
          <%= f.number_field :cost, class: "form-field" %>
        </div>
        <div class="w-1/2 px-2 p-2">
          <div class="text-sm pl-1">Cost Type</div>
          <%= f.text_field :cost_type, class: "form-field" %>
        </div>
      </div>
      <div class="flex px-3">
        <div class="w-1/3 px-2 p-2">
          <div class="text-sm pl-1">Host Type</div>
          <%= f.collection_select(:host_type_id, HostType.all, :id, :name, {}, { class: "form-field" }) %>
        </div>
        <div class="w-1/3 px-2 p-2">
          <div class="text-sm pl-1">Info Type</div>
          <%= f.collection_select(:info_type_id, InfoType.all, :id, :name, {}, { class: "form-field" }) %>
        </div>
        <div class="w-1/3 px-2 p-2">
          <div class="text-sm pl-1">Priority</div>
          <%= f.collection_select(:priority_id, Priority.all, :id, :name, {}, { class: "form-field" }) %>
        </div>
      </div>
      <div class="px-5 py-3"><%= f.submit "Submit", class: "block rounded-lg px-2 py-1 bg-slate-500 text-gray-100 hover:bg-slate-400 hover:font-bold" %></div>
    <% end %>
  </div>
</div>