<div class="bg-gray-200 rounded shadow-lg">
  <div class="p-2">
    <h4 class="flex bg-gray-300 rounded p-2">
      <div class="w-5/6">
      <%= link_to asset.name, edit_business_asset_path(asset), class: "#{ 'disabled' if !current_user.admin? }" %>
      </div>
      <% if current_user.admin? %>
        <div class="w-1/6 text-right">
          <%= link_to '-', business_asset_path(asset), class: 'btn-delete', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </h4>
  </div>
  <div class="text-sm px-1">
    <div class="flex w-full">
      <div class="w-1/2 p-1">
        <div class="bg-gray-100 rounded p-1 text-gray-700 shadow-sm">
          Priority: <%= asset.priority.name %>
        </div>
      </div>
      <div class="w-1/2 p-1">
        <div class="bg-gray-100 rounded p-1 text-gray-700 shadow-sm">
          Host type: <%= asset.host_type.name %>
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <div class="w-1/2 p-1">
        <div class="bg-gray-100 rounded p-1 text-gray-700 shadow-sm">
          Info type: <%= asset.info_type.name %>
        </div>
      </div>
      <div class="w-1/2 p-1">
        <div class="bg-gray-100 rounded p-1 text-gray-700 shadow-sm">
          Employees: <%= asset.accesses.count %>
        </div>
      </div>
    </div>
  </div>
</div>