<div class="h-screen flex">
  <%= render partial: 'shared/navbar' %>
  <div class="w-5/6 bg-gray-600 p-1">
    <%= render partial: 'form' %>
    <div class="flex grid grid-cols-3 xl:grid-cols-4 grid-rows-4 gap-4 p-2">
      <div class="bg-gray-200 rounded shadow-lg">
        <div class="p-2">
          <%= form_for :access, url: accesses_path, method: :post do |f| %>
            <div class="flex">
              <div class="w-5/6"><%= f.collection_select(:employee_id, Employee.all, :id, :full_name, {}, { class: "form-field"}) %></div>
              <%= f.hidden_field :business_asset_id, value: @business_asset.id %>
              <div class="w-1/6 pl-1 text-right"><%= f.submit "+", class: "btn-delete" %></div>
            </div>
          <% end %>
        </div>
      </div>
      <% @employees.each do |i| %>
        <div class="bg-gray-200 rounded shadow-lg">
          <div class="p-2">
            <h4 class="flex bg-gray-300 rounded p-2"> 
              <div class="w-5/6"> 
                <%= link_to i.full_name, edit_employee_path(i), class: "#{ 'disabled' if !current_user.admin? }" %>
                - <%= i.company.name %>
              </div>
              <% if current_user.admin? %>
                <div class="w-1/6 text-right">
                  <%= link_to '-', access_path(Access.where(employee_id: i.id, business_asset_id: @business_asset.id).last), class: 'btn-delete', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>
              <% end %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>