<div class="h-screen flex">
  <%= render partial: 'shared/navbar' %>
  <div class="w-5/6 bg-gray-600 p-1">
    <div class="flex">
      <div class="flex-none w-1/3">
        <div class="p-1">
          <div class="bg-gray-200 rounded shadow-lg">
            <div class="relative mt-2 rounded-md shadow-sm p-2">
              <%= form_for :host_type, as: :post, url: host_types_path(:host_type) do |f| %>
                <%= f.text_field :name, class: "form-field", placeholder: 'New Host Type' %>
                <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <%= f.submit '+', class: "rounded bg-slate-200 px-2 border-2 border-slate-300 hover:bg-slate-100 hover:text-slate-500 hover:font-bold hover:border-slate-200" %>
                </div>
              <% end %>
            </div>
            <% @host_types.each do |i| %>
              <div class="p-2">
                <div class="flex py-2 bg-gray-300 rounded">
                  <div class="w-5/6 pl-2"> 
                    <%= link_to i.name, edit_host_type_path(i), class: "text-gray-700 hover:text-gray-500 #{ 'disabled' if !current_user.admin? }" %>
                  </div>
                  <div class="w-1/6 pr-1 text-right">
                    <% if current_user.admin? %>
                      <%= link_to '-', host_type_path(i), class: "p-1 rounded bg-slate-200 px-2 border-2 border-gray-400 hover:bg-slate-100 hover:text-slate-400 hover:font-bold hover:border-gray-200", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex-none w-1/3">
        <div class="p-1">
          <div class="bg-gray-200 rounded shadow-lg">
            <div class="relative mt-2 rounded-md shadow-sm p-2">
              <%= form_for :info_type, as: :post, url: info_types_path(:info_type) do |f| %>
                <%= f.text_field :name, class: "form-field", placeholder: 'New Info Type' %>
                <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <%= f.submit '+', class: "rounded bg-slate-200 px-2 border-2 border-slate-300 hover:bg-slate-100 hover:text-slate-500 hover:font-bold hover:border-slate-200" %>
                </div>
              <% end %>
            </div>
            <% @info_types.each do |i| %>
              <div class="p-2">
                <div class="flex py-2 bg-gray-300 rounded">
                  <div class="w-5/6 pl-2"> 
                    <%= link_to i.name, edit_info_type_path(i), class: "text-gray-700 hover:text-gray-500 #{ 'disabled' if !current_user.admin? }" %>
                  </div>
                  <div class="w-1/6 pr-1 text-right">
                    <% if current_user.admin? %>
                      <%= link_to '-', info_type_path(i), class: "p-1 rounded bg-slate-200 px-2 border-2 border-gray-400 hover:bg-slate-100 hover:text-slate-400 hover:font-bold hover:border-gray-200", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex-none w-1/3">
        <div class="p-1">
          <div class="bg-gray-200 rounded shadow-lg">
            <div class="relative mt-2 rounded-md shadow-sm p-2">
              <%= form_for :priority, as: :post, url: priority_path(:info_type) do |f| %>
                <%= f.text_field :name, class: "form-field", placeholder: 'New Priority' %>
                <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <%= f.submit '+', class: "rounded bg-slate-200 px-2 border-2 border-slate-300 hover:bg-slate-100 hover:text-slate-500 hover:font-bold hover:border-slate-200" %>
                </div>
              <% end %>
            </div>
            <% @priorities.each do |i| %>
              <div class="p-2">
                <div class="flex py-2 bg-gray-300 rounded">
                  <div class="w-5/6 pl-2"> 
                    <%= link_to i.name, edit_priority_path(i), class: "text-gray-700 hover:text-gray-500 #{ 'disabled' if !current_user.admin? }" %>
                  </div>
                  <div class="w-1/6 pr-1 text-right">
                    <% if current_user.admin? %>
                      <%= link_to '-', priority_path(i), class: "p-1 rounded bg-slate-200 px-2 border-2 border-gray-400 hover:bg-slate-100 hover:text-slate-400 hover:font-bold hover:border-gray-200", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>