<div class="h-screen flex">
  <%= render partial: 'shared/navbar' %>
  <div class="w-5/6 bg-gray-600 p-1">
    <div class="p-2">
      <div class="w-full bg-gray-100 rounded shadow-lg p-1">

        <%= form_for @company do |f| %>
          <% if @company.errors.any? %>
            <div><%= @company.errors.full_messages %></div>
          <% end %>
          <div class="flex p-3">
            <div class="text-sm pl-1">Company Name</div>
            <%= f.text_field :name, class: "form-field" %>
          </div>
          <div class="px-5 py-3"><%= f.submit "Submit", class: "block rounded-lg px-2 py-1 bg-slate-500 text-gray-100 hover:bg-slate-400 hover:font-bold" %></div>
        <% end %>
      </div>
    </div>
    <div class="flex grid grid-cols-4 grid-rows-4 gap-4 p-2">
      <div class="bg-gray-200 rounded shadow-lg">
        <div class="p-2">
          <h4 class="bg-gray-300 rounded p-2"> <%= link_to 'New Employee', new_employee_path(company_id: @company.id) %> </h4>
        </div>
      </div>
      <% @employees.each do |i| %>
        <div class="bg-gray-200 rounded shadow-lg">
          <div class="p-2">
            <h4 class="bg-gray-300 rounded p-2"> 
              <%= link_to i.full_name, edit_employee_path(i), class: "#{ 'disabled' if !current_user.admin? }" %>
              <% if current_user.admin? %>
                <%= link_to 'Delete', employee_path(i), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              <% end %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>