<div class="flex h-screen">
  <%= render "shared/navbar" %>
  <div class="content p-8 flex-1 flex flex-col justify-between items-stretch bg-slate-200">
    <div class="flex flex-1 flex-col items-stretch">
      <div class="relative bg-white rounded-lg shadow-lg p-5">
        <h1>
          <%= link_to @company.name, edit_company_path(@company), class: 'text-xl text-slate-600 hover:text-slate-400' %>
        </h1>
      </div>
      <br>
      <div class="relative bg-white rounded-lg shadow-lg p-5">
        <%= link_to 'New Employee', new_employee_path, class: 'inline-flex flex-grow-0 items-center text-sm font-bold leading-none fill-current whitespace-nowrap transition duration-100 rounded-lg transform transition duration-100 active:translate-x-px active:translate-y-px cursor-pointer disabled:cursor-not-allowed bg-white border hover:border-slate-700 border-slate-600 text-slate-600 hover:text-slate-700 p-4' %>
      </div>
      <br>
      <div class="relative bg-white rounded-md shadow-lg p-5">
        <div class="w-full overflow-auto flex flex-col mt-0">
          <div class="relative flex-1 flex">
            <div class="w-full">
              <table class="w-full px-4 bg-white rounded">
                <thead class="bg-white border-b border-gray-200 pb-1">
                  <tr>
                    <th class="text-left uppercase text-slate-600 px-3 py-4 whitespace-nowrap rounded-l"> Employees </th>
                  </tr>
                </thead>
                <tbody class="divide-y">
                  <% @employees.each do |employee| %>
                    <tr class="bg-white hover:bg-blue-50 hover:shadow-row hover:z-[21] relative z-20 border-b">
                      <td class="min-h-[3rem] px-3 leading-tight whitespace-nowrap h-full text-slate-800  py-3">
                        <%= employee.first_name %>
                      </td>
                      <td class="text-right whitespace-nowrap px-2">
                        <%= link_to("Destroy", employee_path(employee), method: :delete) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1> <%= @company.name %> </h1>

<% @company.employees.each do |employee| %>
  <p><%= employee.first_name %></p>
<% end %>