<!DOCTYPE html>
<html>
  <head>
    <title>AssetManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-mono">
    <div class="flex justify-center" data-controller="flash">
      <% flash.each do |type, msg| %>
        <div class="text-white bg-green-400 rounded-lg p-2 mt-2" style="position: absolute; z-index: 2;">
          <%= msg %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
